/* None of this makes sense to me. I'm 
going to copy and paste and tweak numbers
to see what changes. */

@media only screen and (max-width: 1199px) {
	.container {width: 80%;}
	.logo {width: 85%}
	.nav-main li a {padding: 10px;}
}

@media only screen and (max-width: 1000px) {
	.nav-main li a {padding: 10px 6px;}
	.container {width: 90%;}
}

@media only screen and (max-width: 900px) {
	.logo {width: 80%;}
	.nav-toggle {
		display: block;
		float: right;
		font-size: 30px;
		position: relative;
		top: 5px;
		cursor: pointer;
	}
	
	.nav-main { 
		background: #79C255;
		z-index: 101;
		display: block;
		overflow-x: hidden;
		position: fixed;
		right: 0;
		top: 0;
		-webkit-transform: translateX(270px);
		-moz-transform: translateX(270px);
		-ms-transform: translateX(270px);
		transform: translateX(270px);
		width: 270px;
		height: 100%;
		padding-top: 10px;
		margin: 0;
	}
	/* what's nav-open?? */
	.nav-open {
		-webkit-transform: translateX(-270px);
		-moz-transform: translateX(-270px);
		-ms-transform: translateX(-270px);
		transform: translateX(-270px);
	}
	.nav-main ul {
		text-align: left;
		margin-left: 20px;
	}
	.nav-main li {
		display: block;
		padding: 12px 0;
	}

}
	@media only screen and (max-width: 750px) {
	main {width: 100%;}
	aside {width: 100%; text-align: center;}
	aside img {max-width: 50%;}
	main {padding: 40px 0 20px;}
	aside {padding: 0 0 50px;}
	.box {width: 100%;}
	}

	


















