/* General Styles */

body {
	font-family: 'Quicksand', sans-serif;
}

.container-fluid>.navbar-collapse, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, 
.container>.navbar-header {
     margin-right: 0px; 
     margin-left: 0px; 
}

.container-fluid {
	padding-left: 0px;
    padding-right: 0px;
}

.container-fluid .jumbotron {
    border-radius: 0px;
}

.navbar > .container-fluid .navbar-brand {
    margin-left: 5px;
} 

.navbar {
	margin-bottom: 0;
	background: #B8DBFF; /* light blue */
	border-radius: 0px;
}

.navbar-default .navbar-brand {
    color:#FF33EC; /* deep pink */
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 1.2em;
	padding-left: 20px;
} /* I took this code from the bootstrap CSS and overwrote */

.navbar-default .navbar-brand:focus, .navbar-default 
.navbar-brand:hover {
	background-color: #FF33EC; /* deep pink */
	color: #fff;
	transition: background 0.2s ease;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default 
.navbar-nav > li > a:hover {
	background-color: #FF33EC; /* deep pink */
	color: #fff;
	transition: background 0.2s ease;
}

.navbar-default .navbar-toggle {
	margin-right: 30px;
	border-color: #fff; 
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default 
.navbar-toggle:hover {
	background-color: #f990ef; /* light pink */
	border-color: #f990ef; /* light pink */ 
}

.jumbotron {
	height: 550px;
	width: 100%;
    background: url(../images/FebTomCrop.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    text-align: center;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  	margin: 0px;
}

.jumbotron h1 h2 h3 p {
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
	text-transform: uppercase;
	text-align: center;
}

h2 {
	text-transform: uppercase;
	text-align: center;
}

h3 {
	text-align: center;
}

.row {
    margin-right: 0px;
    margin-left: 0px; 
}

.footer {
	background: #B8DBFF; /* light blue */

}

.footer h2 {
	padding-top: 40px;
	color: #fff;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.footer h3 {
	color: #FF33EC; /* deep pink */
	margin-bottom: 5px;
}

.footer ul {
 	text-align: center;
	padding: 25px 0 25px;
}

.footer li {
	display: inline-block;
	text-align: center;
	background: #FF33EC; /* deep pink */
	width: 40px;
	height: 40px;
	transition: background 0.3s ease;
	border-radius: 50%;
	margin: 0 5px;
}

.footer li:hover {
	background: #f990ef; /* light pink */
}

.footer li a {
	font-size: 25px; /* changes icon size */
	color: #fff;
	position: relative;  /* what does this do? */
	top: 2px; 
}
 
.footer li a:hover {
	color: #fff; /* white */
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.footer p {
 	text-align: center;
	padding-bottom: 15px;
	color: #fff;
	text-shadow: 0px 3px 2px rgba(0,0,0,0.4),
             0px 7px 12px rgba(0,0,0,0.1),
             0px 17px 21px rgba(0,0,0,0.1);
    padding-bottom: 15px;
}

/* index.html */

.headline {
	text-align: center;
	background: #B8DBFF; /* light blue */
}
.headline p {
	font-size: 1.5em;
	color: #FF33EC; /* deep pink */
	padding-left: 10px;
	padding-right: 10px;
}
 .headline h2 {
 	color: #fff;
 	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
 }

.btn-group-sm > .btn, .btn-sm p{
    text-align: center
}   

.links img {
	margin-top: 15px;
}
.video, .gallery, .connect {
	text-align: center;
}

/* news.html */

.blog {
	background: #FFE5FF; /* very light pink */
}

.blog h1 {
	text-decoration: underline;
}

.blog h2 {
	font-size: 1.3em;
	margin-top: 0px;
	margin-bottom: 20px;
}

.blog p {
	text-align: left;
	font-size: 1.2em;
	padding-left: 35px;
	padding-right: 35px;
}

.figure-caption {
	padding-top: 10px;
	padding-bottom: 30px;
}


/* connect.html */

.contact-full{
background: #FFE5FF; /* very light pink */
}

.contact-full img {
	padding-top: 15px;
}

.open h2 {
	text-transform: none
}

@media (max-width: 480px) {
	 .container-fluid .contact-full h3
	 {font-size: 1.1em;}
}

/* music.html */

.music-full {
	background: #FFE5FF; /* very light pink */
}

.music-full .release-date {
	text-align: center;
}

.music-full .tracklist ul > li {
	list-style-type: none;
}

.music-full img {
	max-height: 300px;
	max-width: 300px;
	padding: 15px;
}

@media (max-width: 480px) {
	 .music-full img
	 	{max-width: 275px;}
}


/* gallery */

.gall-page {
	background: #FFE5FF; /* very light pink */
}

/* video */

.video-background {
	background: #FFE5FF; /* very light pink */
}

iframe {
	border: none;
	width: 100%;
	height: 500px;
	overflow: hidden; /*disable scrolling */
}






    








 







