/* General Styles */

body {
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Quicksand', sans-serif;
}

.container-fluid>.navbar-collapse, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, 
.container>.navbar-header {
     margin-right: 0px; 
     margin-left: 0px; 
}

.container-fluid {
	padding-left: 0px;
    padding-right: 0px;
}

.container-fluid .jumbotron {
    border-radius: 0px;
}

.navbar > .container-fluid .navbar-brand {
    margin-left: 5px;
} 

.navbar {
	margin-bottom: 0;
	background: #B8DBFF; /* light blue */
	border-radius: 0px;
}

.navbar-default .navbar-brand {
    color:#FF33EC; /* deep pink */
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 1.2em;
	padding-left: 20px;
} /* I took this code from the bootstrap CSS and overwrote */

.navbar-default .navbar-brand:focus, .navbar-default 
.navbar-brand:hover {
	background-color: #FF33EC; /* deep pink */
	color: #fff;
	/* border-radius: 6px; */
	transition: background 0.2s ease;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default 
.navbar-nav > li > a:hover {
	background-color: #FF33EC; /* deep pink */
	color: #fff;
	/* border-radius: 6px; */
	transition: background 0.2s ease;
}

.navbar-default .navbar-toggle {
	margin-right: 30px;
	border-color: #fff; 
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default 
.navbar-toggle:hover {
	background-color: #f990ef; /* light pink */
	border-color: #f990ef; /* light pink */ 
}


.jumbotron {
	height: 550px;
	width: 100%;
    background: url(../images/febTomCrop.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    text-align: center;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  	margin: 0px;
}
.jumbotron h1 h2 h3 p {
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
	text-transform: uppercase;
	text-align: center;
}

h2 {
	text-transform: uppercase;
	text-align: center;
}

h3 {
	text-align: center;
}

/* index.html */

.headline {
	text-align: center;
	background: #B8DBFF; /* light blue */
}
.headline p {
	font-size: 1.5em;
	color: #FF33EC; /* deep pink */
	padding-left: 10px;
	padding-right: 10px;
}
 .headline h2 {
 	color: #fff;
 	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
 }

 /* add this if I don't want space between links,
   and add no-gutters after "row" class in html 

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

*/

.row {
    margin-right: 0px;
    margin-left: 0px; 
}
/*

.links h3 {
	padding-top: 40px; 	
	margin-bottom: 5px;
}
.links p{
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
} 

.btn-group-sm > .btn, .btn-sm p{
    text-align: center
}   */
.links img {
	margin-top: 15px;
}
.video, .feblife, .connect {
	text-align: center;
}



/*
.video {
	height: 300px;
	width: 100%;
    background: url(../images/febRedCrop.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
} 

.feblife {
	height: 300px;
	width: 100%;
    background: url(../images/febVan.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.connect {
	height: 300px;
	width: 100%;
    background: url(../images/febTunnel.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}*/

.footer {
	background: #B8DBFF; /* light blue */

}
.footer h2 {
	padding-top: 40px;
	color: #fff;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
 .footer h3 {
	color: #FF33EC; /* deep pink */
	margin-bottom: 5px;
}
 .footer ul {
 	text-align: center;
	padding: 25px 0 25px;
}

 .footer li {
	display: inline-block;
	text-align: center;
	background: #FF33EC; /* deep pink */
	width: 40px;
	height: 40px;
	transition: background 0.3s ease;
	border-radius: 50%;
	margin: 0 5px;
}
 .footer li:hover {
	background: #f990ef; /* light pink */
}
 .footer li a {
	font-size: 25px; /* changes icon size */
	color: #fff;
	position: relative;  /* what does this do? */
	top: 2px; 
}
 .footer li a:hover {
	color: #fff; /* white */
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
 .footer p {
 	text-align: center;
	padding-bottom: 15px;
	color: #fff;
	text-shadow: 0px 3px 2px rgba(0,0,0,0.4),
             0px 7px 12px rgba(0,0,0,0.1),
             0px 17px 21px rgba(0,0,0,0.1);
    padding-bottom: 15px;
}

/* news.html */

.blog {
	background: #FFE5FF; /* very light pink */
}

.blog h1 {
	text-decoration: underline;
}

.blog h2 {
	font-size: 1.3em;
	margin-top: 0px;
	margin-bottom: 20px;
}

.blog p {
	text-align: left;
	font-size: 1.2em;
	padding-left: 35px;
	padding-right: 35px;
}

.figure-caption {
	padding-top: 10px;
	padding-bottom: 30px;
}


/* connect.html */

.contact-full{
background: #FFE5FF; /* very light pink */
}
.contact-full img {
	padding-top: 15px;
}
.open h2 {
	text-transform: none
}
/* .contact-full p {
	font-size: .5em;
} */

@media (max-width: 480px) {
	 .container-fluid .contact-full h3
	 {font-size: 1.1em;}
}


/* music.html */

.music-full .release-date {
	text-align: center;
}

.music-full .tracklist ul > li {
	list-style-type: none;
}

.music-full img {
	max-height: 350px;
	max-width: 350px;
	padding: 15px;
}

@media (max-width: 480px) {
	 .music-full img
	 	{max-width: 275px;}
}

/* feblife */

/* 
.carousel-caption {
    bottom: 20px;
    color: #FF33EC;
    left: 15%;
    padding-bottom: 20px;
    padding-top: 0px;
    position: static;
    text-shadow: none;
}
*/

.feb-life-intro p {
	text-align: center;
	font-size: 1.5em;
	color: #f990ef;
}

.feb-life-intro img {
	margin-top: 35px;
}



.accordion.js > * {
  overflow: hidden;
}

.accordion.js > *:not(.expanded) > *:not(h1) {
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.accordion.js > .expanded > *:not(h1) {
  max-height: 10em;
  opacity: 1;
  visibility: visible;
  text-decoration: none;
}

.accordion.js > * > h1 {
  cursor: pointer;
  visibility: visible;
}

.accordion.js > * > *:not(h1) {
    transition: max-height 1s;
	visibility: 1s;
    margin: 1s;
    opacity: 1s;
}
.accordion ul {
	list-style-type: none;
	text-align: center;
}





    








 







/*
p {
	line-height: 22px;
	margin-bottom: 15px;
}
a {
	text-decoration: none;
	color: FF33EC;
}
a:hover {
	color: #B8DBFF;
	
}
a:active {
	/* something will go here once I learn about links 
}
/* I'm doing the font sizes in px so that I can learn media 
queries, but normally I'd use em's I think so that it'd be 
built responsively immediately, right? 
h1 	{
	font-size: 50px; 
	color: FF33EC;
	text-transform: uppercase;
	margin-bottom: 10px;
}
h2 	{	
	font-size: 30px;
	color: FF33EC;
	text-transform: uppercase;
	margin-bottom: 15px;

}
h3	{
	font-size: 24px;
	color: #FF33EC;
	margin-bottom: 15px; 
}
h4 {

}
h5 {

}
h6 {

}
/* I put in h4 h5 h6 even though I don't have any, 
as place holders. Best practices? 
button { /* this is a new tag for me 
	background: #FF33EC;
	color: #fff;
	text-transform: uppercase;
	padding: 6px 12px; /* makes sense! 
	font-size: 14px;
	cursor: pointer;
	letter-spacing: 2px; /* new 
	border: medium none; /* I took this from the reset.css
	page to get rid of the ugly button border 
	border-radius: 28px;
	transition: background 0.3s ease; /* I just copied 
	this, it'll be something I learn as I go methinks 
}
button:hover {
	background: #B8DBFF;
	color: #fff;
}

/* Tessa also had this code here, but I don't have
an image yet. Future reference:
img {
	max-width: 100%;
	height: auto;
} */

/* Header

.logo a img {
	max-width: 25%;
	float: left;
	padding-top: 11px;
} 

.nav-main {
	width: 65%; /* is this a standard number? Or 
	just looking at browser?? 
	float: right;
}

.nav-main ul {
	text-align: right; /* what does this do? 
}

.nav-main li {
	display: inline-block;
	padding: 30px 0; /* what happens when I mess with these
	numbers?? 
}
.nav-main li a {
	color: #2b3f48; /* This is non clicked color 
	background: transparent; /* need this? 
	padding: 10px 15px; /* didn't I already do padding? 
	Was the padding in the li just for the block? this is 
	for the link text maybe? 
	transition: background 0.3s ease, color 0.3s ease;
}
.nav-main li a:hover {
	color: #fff; /* will change 
	background: #B8DBFF; /* what happens here? does
	background change from transparent to this color? 
	border-radius: 3px;
}
.nav-toggle {
	display: none;
} /* What is this? It gets lots of attention in the 
responsive css?? */

/* Container for Multi-Use 

.container {
	width: 960px; /* Is this standard for this look? 
	margin: auto;
}

/* Section: Banner and Feature 



.banner {
	background: url("../images/febRedCrop.png")no-repeat scroll top center / cover;
	text-align: center;
	min-height: 700px;
	clear: both;
}
.banner h1 {
	color: #fff;
	padding-top: 20px;
}

.banner h2 {
	color: #fff;
	padding-top: 15px;
}
.banner p {
	color: #fff;

}

/* .banner  {
	background: url("../images/febTomCrop.png") no-repeat scroll top center / cover; 
	min-height: 100px;
	clear: both;
	opacity: 0.8;
	}
	This was the .banner */
	

/*
.feature {
	background: url("../images/febRed.jpg")no-repeat scroll top center / cover;
	text-align: center;
	min-height: 700px;
	clear: both;
} 
.content {
	background: #B8DBFF; 
	text-align: center;
	padding: 40px 0;
}
.content h2 {
	color: #fff;
}

/* Section: Links 

.links {
	clear: both; /* not sure what this did 
}
.box {
	width: 290px;
	margin-right: 30px;
	float: left; /* this makes them line up
	margin-bottom: 50px;
	padding-top: 30px;
} /* This is copied from Tessa
.box:last-child {
	margin-right: 0; /* why? 
.box h2 {
	color:#B8DBFF;
}

/* Footer 

footer {
	background: url("../images/febTomCrop.png") no-repeat scroll top center / cover; 
	min-height: 159px;
	clear: both;
	text-align: center;
	/* how do I make the image go across the whole page? 
}
footer h2 {
	padding-top: 40px;
	color: #B8DBFF;
}
footer h3 {
	color: #B8DBFF;
	margin-bottom: 5px;
}
footer ul {
	padding: 20px 0 25px;
}

footer li {
	display: inline-block;
	background: #FF33EC; /* deep pink 
	width: 40px;
	height: 40px;
	transition: background 0.3s ease;
	border-radius: 50%;
	margin: 0 5px;
}
footer li:hover {
	background: #B8DBFF; /* light blue 
}
footer li a {
	font-size: 20px; /* changes icon size 
	color: #fff;
	position: relative ; /* what does this do? 
	top: 10; /* is this padding? what is this? 
}
footer li a:hover {
	color: #fff; /* white 
}
footer p {
	padding-bottom: 15px;
	color: #B8DBFF;
}


 




